.DS_Store
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.eslintrc.js
/.idea
/backend/.env
/backend/.env.local
/backend/node_modules
/build
/frontend/build
/frontend/node_modules
/node_modules
npm-debug.log*
package-lock.json
package.json
yarn-debug.log*
yarn-error.log*
