.DS_Store
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.eslintrc.js
/.idea
/backend/.env
/backend/.env.local
/backend/examples/.env
/package.json
/paths.json
build/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
