.big.x.icon:hover {
  background-color: rgb(207, 207, 207);
  border-radius: 20px;
  color: grey;
}

.editorDatapanel_BG {
  z-index: 1;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.74);
  top: -8%;
  left: -8%;
  height: 110%;
  width: 110%;
}
.editorDatapanel_container {
  display: block;
  z-index: 2;
  left: 15%;
  top: 16%;
  position: absolute;
  width: 75%;
  height: 75%;
  border: 1px solid #b1daae;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #888888;
  background-color: #eef7ee;
  padding: 7em;
}

.big.grey.x.icon.editor {
  float: right;
  margin-top: -2em;
  margin-right: -2em;
}

#titleField input,
#multiInputContainer input {
  border-radius: 5px;
  height: 2.8rem;
  padding-left: 1ch;
  outline: none;
}
