.big.x.icon:hover {
  background-color: rgb(207, 207, 207);
  border-radius: 20px;
  color: grey;
}

.editorDatapanel_BG {
  z-index: 1;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.74);
  top: -8%;
  left: -8%;
  height: 110%;
  width: 110%;
}
.editorDatapanel_container {
  display: block;
  z-index: 2;
  left: 15%;
  top: 16%;
  position: absolute;
  width: 75%;
  height: 75%;
  border: 1px solid #b1daae;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #888888;
  background-image: linear-gradient(to bottom right, white, #eef7ee, #eef7ee);
  padding: 7em;
}

.big.grey.x.icon.editor {
  float: right;
  margin-top: -2em;
  margin-right: -2em;
}

#titleField input,
#multiInputContainer input {
  border-radius: 5px;
  height: 2.8rem;
  padding-left: 1ch;
  outline: none;
}

/* MultiInput */

#multiInputContainer {
  margin-bottom: 1rem;
}

#addNameButtonChild {
  pointer-events: none;
}

.inputField {
  width: 100%;
  max-width: 100% !important;
  display: flex;
  flex-direction: row;
  height: 2.7rem;
}

.inputField input {
  position: relative;
  width: 100%;
}

.x.icon {
  color: rgb(156, 156, 156);
}

#formInput {
  position: static;
}

#removeNameButton {
  border-style: none !important;
  z-index: 1;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  min-width: max-content;
  border-style: solid;
  border-color: rgb(160, 160, 160);
  border-width: 1px;
}

#addNameButton {
  z-index: 1;
  position: static;
}
