.navbar_container {
  margin: 0;
  padding: 0;
  min-height: 7vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.navbar_logo:hover {
  cursor: pointer;
}

.linkto_kidsakoderno {
  margin: 1em 1em 0 1em;
}

.linkto_kidsakoderno i {
  color: black;
}

.linkto_kidsakoderno a:hover {
  cursor: pointer;
}

.navbar_logo p {
  color: gray;
}

.navbar_course_title {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.navbar_course_title h1 {
  margin: 0 1rem;
}

.profileMenu_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar_profile {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.navbar_profile * {
  margin: 0;
  padding: 0;
}

#navbar_gohome {
  text-decoration: none;
  color: black;
}
