.navbar_container {
  height: 8%;
  margin: 0 4.5em 0 4.5em;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar_image_container {
  flex-basis: 33%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.navbar_logo {
  margin: 0;
  padding: 0;
  height: 100%;
  width: auto;
}

.navbar_logo:hover {
  cursor: pointer;
}

.navbar_children_container {
  flex-basis: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar_profilemenu_container {
  flex-basis: 33%;
  display: flex;
  justify-content: right;
  align-items: center;
}
