select {
  cursor: pointer;
}

/* ControlPanel  */

@media only screen and (max-width: 955px) {
  #sections {
    display: none;
  }
  #code {
    display: none;
  }

  #divider {
    display: none;
  }

  .preview {
    display: block !important;
  }

  #saveLoad {
    display: none;
  }
  #MDPreview {
    display: none;
  }
  #MDTextArea {
    width: 100% !important;
  }
  #MDPreview {
    width: 100% !important;
  }
}

.preview {
  display: none;
}

#textEditorContainer {
  width: 100%;
  padding-top: 1rem;
}

#controlPanel {
  max-height: 9rem;
  margin-bottom: -1rem;
}

/* CSS for ImagePopup component */

/* .transparent {
  height: 150%;
  width: 150%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;

  top: -10%;
  left: -25%;
} */

.imagePopup {
  z-index: 3;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.errorMessage {
  color: red;
}

/* CSS for TextArea */

/* #divider {
  z-index: 3;
  background-color: b1daae;
  height: 73%;
  width: 2px;
  margin: 0px;
  padding: 0px;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
} */

.TextArea {
  width: 102%;
  height: 100%;
  min-height: 40em;
  outline: none;
  margin-left: -1em;
  margin-bottom: -1.2em;
  margin-right: -2em !important;
  resize: none;
  padding: 15px;
  overflow: auto;
  border-color: white;
}

/* CSS for TextArea Buttons */

/* CSS for MDPreview */

.MDPreview {
  width: 104.8%;
  height: 100%;
  min-height: 40em;
  margin-right: -1em !important;
  margin-bottom: -1.2em !important;
  margin-left: -1em !important;
  max-height: 65rem !important;
  background-color: white;
  padding: 15px;
  overflow: auto;
}
