select {
  cursor: pointer;
}

@media only screen and (max-height: 630px) {
  .TextArea {
    width: 100%;
    height: 25rem !important;

    max-height: 25rem !important;
    outline: none;
    /* margin-left: -1em;
    margin-bottom: -1.2em;
    margin-right: -2em !important; */
    resize: none;
    padding: 2em;
    overflow: auto;
    border-color: white;
    touch-action: manipulation;
  }

  /* CSS for TextArea Buttons */

  /* CSS for MDPreview */

  .MDPreview {
    width: 100%;
    height: 10rem !important;

    max-height: 10rem !important;
    /* margin-right: -1em !important;
    margin-bottom: -1.2em !important;
    margin-left: -1em !important; */
    background-color: white;
    padding: 2em;
    overflow: auto;
    touch-action: manipulation;
  }
}

@media only screen and (max-height: 890px) {
  .TextArea {
    width: 100%;
    height: 30rem;

    max-height: 30rem !important;
    outline: none;
    /* margin-left: -1em;
    margin-bottom: -1.2em;
    margin-right: -2em !important; */
    resize: none;
    padding: 2em;
    overflow: auto;
    border-color: white;
    touch-action: manipulation;
  }

  /* CSS for TextArea Buttons */

  /* CSS for MDPreview */

  .MDPreview {
    width: 100%;
    height: 30rem;

    max-height: 30rem !important;
    /* margin-right: -1em !important;
    margin-bottom: -1.2em !important;
    margin-left: -1em !important; */
    background-color: white;
    padding: 2em;
    overflow: auto;
    touch-action: manipulation;
  }
}

/* ControlPanel  */

@media only screen and (max-width: 955px) {
  #sections {
    display: none;
  }
  #code {
    display: none;
  }

  #divider {
    display: none;
  }

  .preview {
    display: block !important;
  }

  #saveLoad {
    display: none;
  }
  #MDPreview {
    display: none;
  }

  #controlPanelContainer {
    max-height: 9rem;
    padding-left: 2em;
    margin-bottom: -1rem;
    touch-action: manipulation;
  }

  #textEditorContainer {
    width: 100%;
    padding-top: 1rem;
    padding-right: 0rem !important;
    touch-action: manipulation;
  }
  .TextArea {
    width: 210% !important;
    height: 30rem;

    outline: none;
    margin-left: 0em !important;
    margin-bottom: -1.2em;
    margin-right: -0em !important;
    resize: none;
    padding: 5em;
    overflow: auto;
    border-color: white;
    touch-action: manipulation;
  }

  .MDPreview {
    width: 200%;
    height: 30rem;

    margin-right: -1em !important;
    margin-bottom: -1.2em !important;
    margin-left: -1em !important;
    max-height: 65rem !important;
    background-color: white;
    padding: 5em;
    overflow: auto;
    touch-action: manipulation;
  }
}

.preview {
  display: none;
}

#textEditorContainer {
  width: 100%;
  padding-top: 1rem;
  touch-action: manipulation;
}

#editor {
  margin-top: 0px;
}

#controlPanelContainer {
  max-height: 9rem;

  padding-left: 2rem;
  margin-bottom: -1rem;
  touch-action: manipulation;
}

/* CSS for ImagePopup component */

/* .transparent {
  height: 150%;
  width: 150%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;

  top: -10%;
  left: -25%;
} */

.imagePopup {
  z-index: 3;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.errorMessage {
  color: red;
}

/* CSS for TextArea */

/* #divider {
  z-index: 3;
  background-color: b1daae;
  height: 73%;
  width: 2px;
  margin: 0px;
  padding: 0px;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
} */

.TextArea {
  width: 100%;
  height: 50rem;

  max-height: 50rem;
  outline: none;
  /* margin-left: -1em;
  margin-bottom: -1.2em;
  margin-right: -2em !important; */
  resize: none;
  padding: 2em;
  overflow: auto;
  border-color: white;
  touch-action: manipulation;
}

/* CSS for TextArea Buttons */

/* CSS for MDPreview */

.MDPreview {
  width: 100%;
  height: 50rem;

  max-height: 50rem;
  /* margin-right: -1em !important;
  margin-bottom: -1.2em !important;
  margin-left: -1em !important; */
  background-color: white;
  padding: 2em;
  overflow: auto;
  touch-action: manipulation;
}
