/* *{
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: Helvetica, sans-serif, Arial;
  line-height: 25px;
}
body{
  background-color: white !important;
} */
.OverviewBox {
  padding: 10px;
  margin: 200px auto;
}

#header {
  background-color: #b1daae;
  width: 100%;
  padding: 10px;
  border-radius: 22px;
  text-align: center;
}
