.buttonpanel {
  padding: 0 0.5em 0 0.5em;
  border: 1px #b1daae;
  border-style: solid solid hidden solid;
  border-radius: 5px;
  background-image: linear-gradient(white, #eef7ee);
  max-height: 10%;
}

.sectiongroup {
  display: inline;
}

.firstrow {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.secondrow {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.buttongroup {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.settingspanel {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.MBButton {
  color: #fff !important;
  height: 1em !important;
  padding-bottom: 16px !important;
  padding-top: 2px !important;
  margin-top: 1px !important;
}

.hyperlink_modal {
  background-color: #eef7ee !important;
}

#lang_dropdown {
  min-height: auto !important;
  height: 2.62em;
}

#video_modal_label {
  border-style: none;
  background-color: #eef7ee !important;
}
