.buttonpanel {
  border: 1px #b1daae;
  border-style: solid solid solid solid;
  border-radius: 5px;
  width: 100%;
  height: 5rem;
  max-width: 1920px;

  .top_panel {
    display: flex;
    flex-flow: column;
    height: 100%;
    .firstrow {
      display: none;

      .settingspanel {
        display: flex;
        flex-flow: row;
      }
    }
    .secondrow {
      display: none;
    }

    .scratchmicrobit_row {
      display: none;
    }

    .firstrow_mobile {
      position: relative;
      height: 100%;
      display: flex;
      justify-content: space-between;
      flex-flow: row;
      align-items: center;
      .undo-redo_button_group {
        button {
          padding: 0 1rem;
          vertical-align: top;
        }
        display: flex;
        align-items: flex-end;
      }

      button,
      .settingspanel {
        height: 100%;
      }

      .settingspanel {
        display: flex;
        flex-flow: row;
      }

      p {
        position: absolute;
        bottom: 0;
        right: 1rem;
        font-size: 0.7rem;
      }
    }
  }

  @media (min-width: 920px) {
    height: fit-content;
    padding: 0 0 0.2rem 0;
    .top_panel {
      .firstrow_mobile {
        display: none;
      }
      .firstrow {
        display: flex;
        justify-content: space-between;
        .buttongroup {
          display: flex;
          height: 100%;
          justify-content: space-between;
          flex-flow: row;
          align-items: center;
          max-width: 60rem;
        }
        .settingspanel {
          & button {
            height: 4rem !important;
          }
        }
      }
      .secondrow {
        display: flex;
        justify-content: space-between;
        padding: 0 1rem;
        .sectiongroup {
          display: flex;
        }
      }
      .scratchmicrobit_row {
        display: flex;
        margin: 0.3rem 0 0 0;
        padding: 0 1rem;
        button {
          height: 1.4rem;
          padding: 0 0.5rem;
          min-width: 1rem;
          color: #f7f7f7;
          font-size: 0.731rem;
        }
      }
    }
  }
}
