.buttonpanel_small_devices {
  border: 1px #b1daae;
  border-style: solid solid solid solid;
  border-radius: 5px;
  width: 100%;
  max-width: 1920px;
  // position: fixed;
  // bottom: 0;
  height: 8rem;

  .bottom_panel {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    background-color: #f7f7f7;
    padding: 0 0.5rem;
    z-index: 20;
    border: 1px #b1daae;
    border-style: solid solid solid solid;
    border-radius: 5px;

    .scratchmicrobit_row {
      height: 0;
      margin: 0;
      &.active {
        height: 1.5rem;
        margin: 0.5rem 0 0 0;
      }
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: flex-start;
      overflow-x: auto;

      &::-webkit-scrollbar {
        display: none;
      }
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */

      button {
        border-radius: 30px;
        margin-right: 0.5rem;
        white-space: nowrap;
        color: #f7f7f7;
      }
    }
    .codebuttons_row {
      height: 1.7rem;
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: flex-start;
      overflow-x: auto;
      margin: 0.5rem 0;
      &::-webkit-scrollbar {
        display: none;
      }
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
      button {
        margin-right: 0.5rem;
      }
    }
    .textbuttons_row {
      height: 3rem;
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: space-between;
      overflow-x: auto;

      button {
        padding: 0 1.5rem;
      }
    }
  }

  @media (min-width: 920px) {
    height: fit-content;
    padding: 0 0 0.2rem 0;
    .bottom_panel {
      display: none;
    }
  }
}
