/* Responsive style */

#smallScreen {
  display: none;
}

@media only screen and (max-width: 770px) {
  #smallScreen {
    display: inline;
  }
  #bigScreen {
    display: none;
  }
  #formPage {
    margin-top: 0rem !important;
    overflow: hidden;
  }
  .ui.form {
    height: 29rem !important;
    overflow: hidden;
    padding: 0px !important;
  }
}

/* MultiInput */

#multiInputContainer {
  margin-bottom: 1rem;
}

#addNameButtonChild {
  pointer-events: none;
}

.inputField {
  width: 100%;
  max-width: 100% !important;
  display: flex;
  flex-direction: row;
  flex-wrap: initial;

  height: 2.7rem;
}

.formInput {
  min-width: 40% !important;
  position: relative;
}

#removeNameButton {
  position: relative;
  z-index: 1;
  min-width: max-content;
  align-content: flex-start;
  background-color: white;
}

#addNameButton {
  position: static;
}

/* ############################# */

.validateError {
  color: red;
}

.requiredText {
  color: #717171;
}

.formLabel {
  margin: auto;
}

#profileMenu {
  margin-top: 1rem;
  margin-bottom: -1.3rem;
}

#smallTopicField {
  margin-top: 5rem;
}

/* form  */
.ui.form {
  height: 35rem;
  overflow: hidden;
  padding: 5rem;
}

#removeNameButton {
  border-radius: 5px !important;
}

#formPage {
  margin-top: 5rem;
  overflow: hidden;
}

.ui.segment.formColor {
  background-color: #eef7ee;
}

.field {
  margin-bottom: 2rem !important;
}

#licenseField {
  margin-top: 4rem;
}

#titleField {
  margin-bottom: 4rem !important;
}

.ui.checkbox {
  margin: 0.5rem;
}

/* Checkbox segments height */

#subjectCheckbox {
  height: 16rem !important;
}
#levelCheckbox {
  height: 14rem !important;
}
#topicCheckbox {
  height: 16rem !important;
}
