$section-padding__phone: 2rem 0;
$section-container-padding_phone: 0 1rem;

.frontpage {
  .frontpage_section1 {
    max-width: 1600px;
    margin: auto;
    font-size: 0.8rem;
    background-color: #f7f7f7;
    padding: $section-padding__phone;

    .frontpage_section1__container {
      padding: $section-container-padding_phone;

      .frontpage_section1__header {
        border-bottom: 0.3rem solid;
        border-bottom-color: green;
        margin: 0 0 1rem 0;
        width: 50%;
        line-height: 150%;

        h1 {
          line-height: 125%;
          span {
            white-space: nowrap;
          }
          .subtitle {
            font-size: 1.5rem;
            color: grey;
          }
        }
      }

      .frontpage_section1__cards {
        display: flex;
        flex-flow: column;
        align-items: center;
        padding: 1rem 0;

        label {
          width: 100%;
        }

        .card_container {
          width: 100%;
          .ui-card {
            width: 100%;
          }
          &:not(:first-child) {
            margin: 2rem 0 0 0;
          }

          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          label {
            h3 {
              margin: 0 0 1rem 0;
            }
          }

          .card {
            border: 1px solid lightgrey;
            border-radius: 5px;
            width: 13.08rem;
            .ui-card {
              width: 100%;
            }

            &:hover {
              box-shadow: 0px 0px 2px 3px #0fbe7b;
              cursor: pointer;
            }
            &:active {
              box-shadow: 0px 0px 2px 3px #0fbe7b;
            }

            .card_content {
              display: flex;
              flex-flow: column;
              justify-content: space-between;

              .card_image_height {
                height: 10rem;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }
        }
      }
    }
  }

  .frontpage_section2 {
    width: 100%;
    height: 100%;
    padding: 2rem 0 0 0;

    .frontpage_section2_container {
      padding: $section-container-padding_phone;
      max-width: 1600px;
      margin: auto;
      display: flex;
      flex-flow: column;

      .frontpage_section2_container__header {
        display: flex;
        flex-flow: row;
        justify-content: space-between;

        .ui.inline.dropdown {
          min-width: 6rem;
          text-align: right;
        }

        .ui.dropdown .menu {
          left: -1rem;
        }
      }
    }
  }

  @media (min-width: 570px) {
    .frontpage_section1 {
      padding: 3rem;
    }

    .frontpage_section2 {
      padding: 3rem;
    }
  }

  @media (min-width: 900px) {
    .frontpage_section1 {
      padding: 6rem;
    }

    .frontpage_section2 {
      padding: 6rem;
    }
  }
}
