.landingpage_container {
  display: flex;
  flex-flow: column;
  font-size: 0.8rem;

  .landingpage_section1 {
    position: relative;
    background-color: #f7f7f7;

    .landingpage_datamodal_button {
      position: absolute;
      top: 0;
      right: 0;
      margin: 1rem;
    }

    .landingpage_section1_content {
      max-width: 1200px;
      padding: 5rem 0 2rem 1rem;
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      align-items: center;
      height: 20rem;
    }
    .landingpage_cardsection {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
    }
  }

  .landingpage_section2 {
  }

  // .landingpageButtonContainer {
  //   margin: 7em 0 0 0;
  // }

  // .landingpage_item_image:hover {
  //   box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  //   cursor: pointer;
  // }
}
