.landingpage_container {
  display: flex;
  flex-flow: column;
  font-size: 0.8rem;

  .landingpage_actions {
    background-color: #f7f7f7;

    .landingpage_actions__container {
      position: relative;
      max-width: 1200px;
      padding: 1rem 1rem 1rem 1rem;
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      align-items: flex-start;
      margin: auto;
      .landingpage_datamodal_button {
        position: absolute;
        top: 0;
        right: 0;
        margin: 1rem;
      }

      .landingpage_actions {
        padding-top: 2.5rem;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 100%;
        max-width: 23rem;
      }
    }
  }

  @media (min-width: 570px) {
    font-size: 1rem;
    .landingpage_actions {
      .landingpage_actions__container {
        padding: 8rem 3rem 3rem 3rem;
        flex-flow: row;
        .landingpage_datamodal_button {
          margin: 3rem;
        }

        .landingpage_actions {
          padding-top: 0rem;
        }
      }
    }
  }
}
