.header_container {
  padding: 0px;
  display: block;
  margin-top: 10px;
  height: 10vh;
  border-radius: 5px;
  display: flex;
  position: static;
}

.header_logo {
  float: left;
  height: 10vh;
}

.header_title {
  color: red;
  display: flex;
  margin-left: auto;
  align-items: center;
}

.header_profile {
  border-radius: 5px;
  margin-top: auto;
  margin-left: auto;
  margin-right: 10px;
  float: right;
  width: 11%;
}

#titleInput {
  padding-left: 10px;
  border-style: none;
}

#titleInput:hover {
  padding-left: 10px;
  border: 1px solid rgba(77, 77, 151, 0.699) !important;
  border-radius: 5px !important;
}
