.navbar_container {
  height: 8vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.navbar_logo {
  height: 8vh;
}

.navbar_course_title {
  height: 8vh;
  padding: 0vh !important;
  margin-left: -7em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar_profile {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  margin-top: auto;
}

#navbar_gohome {
  text-decoration: none;
  color: black;
}
