.navbar_container {
  padding: 0px;
  display: block;
  margin-top: 10px;
  height: 10vh;
  border-radius: 5px;
  display: flex;
  position: static;
  height: 100%;
}

.navbar_logo {
  float: left;
  height: 10vh;
}

.navbar_profile {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  margin: auto 1em auto auto;
  float: right;
}

.navbar_languages {
  float: right;
  margin-left: auto;
  margin-right: -70em !important;
  margin-top: 4em;
}

#navbar_gohome {
  text-decoration: none;
  color: black;
}
