/* EDITOR */

.preview-area {
  padding: 1em;
  height: 84vh;
  width: 100%;
  border-radius: 5px;
  background-color: white;
  overflow: auto;
  box-sizing: content-box;
}

.text-area {
  padding: 1em;
  margin-right: 1em;
  border-radius: 5px;
  border-style: none;
  height: 84vh;
  width: 100%;
  outline: none;
  resize: none;
  overflow: auto;
  box-sizing: content-box;
}

.editor-windows {
  margin: auto;
  max-width: 1920px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: relative;
}

.text-editor-container {
  background-image: linear-gradient(to bottom right, #eef7ee, #eef7ee, #b1daae);
  max-height: fit-content;
  padding: 1em 0;
}
