/* EDITOR */

.preview-area {
  padding: 1em;
  margin: 0em 0.5em 0.5em 0.5em;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-height: 81.8vh;
  max-height: 81.8vh;
  width: 100%;
  background-color: white;
  overflow: auto;
}

.text-area {
  padding: 1em;
  margin: 0em 0.5em 0.5em 0.5em;
  border: 1px #b1daae;
  border-radius: 5px;
  width: 100%;
  outline: none;
  resize: none;
  overflow: auto;
}

.editor-windows {
  max-width: 160rem;
  margin: auto;
  display: flex;
  flex-direction: row;
  padding-top: 0.25em;
  overflow: hidden;
  position: relative;
}

.text-editor-container {
  background-image: linear-gradient(to bottom right, #eef7ee, #eef7ee, #b1daae);
  position: relative;
}
