.preview-area {
  display: none;
  &.preview {
    display: block;
  }
  padding: 1rem;
  border-radius: 5px;
  background-color: white;
  overflow-y: auto;
  height: 100%;
  // height: calc(100vh - 16rem);
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;

  @media (min-width: 900px) {
    position: inherit;
    width: 49.5%;
    display: block;
    height: calc(100vh - 12rem);

    &.preview {
      width: 100%;
    }

    & button {
      z-index: 30;
    }
  }
}
