.text-area {
  padding: 1rem;
  width: 100%;
  border-radius: 5px;
  border-style: none;
  outline: none;
  height: 100%;
  // height: calc(100vh - 16rem);
  @media (min-width: 900px) {
    height: calc(100vh - 12rem);
    width: 49.5%;
  }
}
