/* EDITOR */
.editor {
  overflow: hidden;
  position: relative;
}

.PreviewArea {
  padding: 1em;
  margin: 0em 0.5em 0.5em 0.5em;
  height: 75vh;
  width: 55vw;
  background-color: white;
  overflow: auto;
}

.TextArea {
  padding: 1em;
  margin: 0em 0.5em 0.5em 0.5em;
  height: 75vh;
  width: 55vw;
  outline: none;
  resize: none;
  overflow: auto;
  border-color: white;
}

.textEditorContainer {
  display: flex;
  background-image: linear-gradient(to bottom right, #eef7ee, #eef7ee, #b1daae);
  border: 1px #b1daae;
  border-style: hidden solid solid solid;
  border-radius: 5px;
}
