/* BOLD */

.PreviewArea > p > strong {
  font-weight: bold;
}

/* ITALIC */

.PreviewArea > p > em {
  font-style: italic;
}

/* HEADER 1 */

/* HEADER 2 */

/* STRIKETHROUGH */
.PreviewArea > p > s {
  text-decoration: line-through;
}
