.overviewSection1 {
  background-color: #f7f7f7;
  padding: 2vh 6vh;
  height: 50%;
}

.overviewSection1_content {
  margin: auto;
  max-width: 1200px;
}

.overviewSection2_content {
  margin: auto;
  max-width: 1200px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.overviewSection2 {
  padding: 2vh 6vh;
  height: 50%;
}

.overview_Button:hover {
  border: 1px solid #0fbe7b;
  cursor: pointer;
}

.overViewContainer {
  height: 85vh;
}
