.overViewContainer {
  height: 92%;
}

.overviewSection1 {
  background-color: #f7f7f7;
  width: 100%;
  height: 50%;
  padding: 3em 0;
}

.overviewSection_content {
  margin: auto;
  width: 75em;
}

.overviewSection2_content {
  margin: auto;
  width: 75em;
}

.overviewSection2 {
  height: 50%;
  padding: 1.5em 1em;
}
