.overviewSection1 {
  background-color: #f7f7f7;
  padding: 2vh;
}

.overviewSection1_content {
  margin: auto;
  max-width: 1200px;
}

.overviewSection2_content {
  margin: auto;
  max-width: 1200px;
}

.overviewSection2 {
  padding: 6vh;
}

.overview_Button:hover {
  border: 1px solid #0fbe7b;
  cursor: pointer;
}
