.overViewContainer {
  padding: 5rem;
  margin: auto;
  background-color: #99ffed1a;
}
.overViewContainer #welcome {
  font-style: Arial, "Times New Roman", Times, serif;
  font-size: 23px;
  margin-left: 70px;
}
#newLessonButton {
  margin-left: 70px;
}
