button {
  text-align: center;
  width: 130px;
  height: 30px;
  font-style: Arial, "Times New Roman", Times, serif;
  font-size: 14px;
  border-radius: 25px;
  border-color: green;
  background-color: white;
}

#plusSign {
  height: 15px;
  padding: 1px 6px;
}
