.new-lesson-button {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 130px;
  height: 30px;
  font-style: Arial, "Times New Roman", Times, serif;
  font-size: 14px;
  color: #009145;
  border-radius: 25px;
  background-color: white;
  border: 2px solid green;
  margin-right: 10px;
  margin-left: 10px;
}
.new-lesson-button:hover {
  cursor: pointer;
  background-color: #ccffcc;
}

.new-lesson-button:active {
  background-color: red;
}

#plusSign {
  display: flex;
  justify-content: center;
  height: 15px;
  margin: 4px 6px;
}
