.courseInfoContent {
  display: inline;
  height: 200px;
  margin: auto;
}

.courseInfoContent h1 h2 {
  color: red;
}

.courseInfoDivider {
  margin: 3em 0 3em 0;
  min-height: 100px;
  border-left: 3px solid #0fbe7b;
}
