.landingpage_container {
  display: flex;
  height: 90%;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.landingpage_section1 {
  position: relative;
  background-color: #f7f7f7;
  height: 50%;
  width: 100%;
  padding: 5em 0;
}

.landingpage_section2 {
  height: 50%;
  padding: 3em;
}

.landingpage_section1_content {
  display: flex;
  flex-flow: row nowrap;

  margin: auto;
  width: 75em;
  justify-content: space-between;
  align-items: center;
}

.landingpage_datamodal_button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1em;
}

.landingpageButtonContainer {
  margin: 7em 0 0 0;
}

.landingpage_cardsection {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
