body {
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica N", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.42857;
  color: #333;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* div {
  display: block;
} */

/* .App {
  display: flex;
  overflow-x: hidden;
  min-height: 100vh;
  background-color: #b1daae;
} */

/* CSS YAML Formpage */

select {
  cursor: pointer;
}

/* CSS for Editor */

.test {
  height: 40em;
}

.test2 {
  margin-top: -8em;
}

/* .Editor {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
} */

/* CSS for TextArea */

.TextArea {
  width: 100%;
  height: 100%;
  margin: auto;
  outline: none;
  resize: none;
  border-radius: 5px;
  padding: 15px;
}

/* CSS for MDPreview */

.MDPreview {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  border-radius: 5px;
  margin: auto;
  background-color: white;
  float: right;
  padding: 15px;
}

/*This is the important css for the preview*/

.intro {
  font-size: 41px;
}

.activity {
  color: #ffffff;
  background: #349946;
  padding: 10px;
  border-radius: 5px;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

pre {
  display: block;
  padding: 10.5px;
  margin: 0 0 11px;
  font-size: 15px;
  line-height: 1.42857;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
}
