.checkboxfield__container {
  width: 100%;
  margin: 0 0 2rem 0;
}

@media (min-width: 678px) {
  .checkboxfield__container {
    width: 45%;

    &.Klassetrinn {
      div {
        .tags_container {
          min-height: 10rem;
        }
      }
    }
  }
}
